/* ! CSS For the landing page */
/* Background image */
body{
    background-image: url(https://live.staticflickr.com/4143/4780851045_f2b32d31df_b.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
/* The div that holds Alex Trebek. */
.container{
    display: flex;
    justify-content: center;
}
button{
    padding: 10px;
    width:fit-content;
    align-self: center;
}
.Play{
    display: flex;
    justify-content: center;
    margin: 5%;
    
}
footer{
    display: flex;
    justify-content: center;
    
}